<!Doctype <!DOCTYPE html>
<html lang="en">

<head>
  <title>Decofeli</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/style.css" rel="stylesheet">
  <link rel="shortcut icon" href="../static/imagenes/iconvar.png" type="image/x-icon">
  <link rel="stylesheet" href="../static/styles/style.scss">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style="background-color:#ec93cd">

  <nav class=" navbar navbar-expand-sm navbar navbar-light" style="background-color: #451f31">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#referencias">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- logo -->
    <a class="navbar-brand" href="#">
      <img src="../static/imagenes/iconvar.png" width="40" height="40" alt="">
    </a>

    <!-- enlaces -->
    <div class="collapse navbar-collapse" id="referencias">
      <ul class="navbar-nav">


        <li class="nav-item">
          <a class="nav-link text-white" href="About.html">¿Quienes somos?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="Staff.html">Staff</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="products.html">Nuestro Trabajo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="contact.html">Mayor Información</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="../index.html">Volver</a>
        </li>
      </ul>
    </div>
  </nav>
  <p></p>
  <h2  class= " text" align="center">Nuestro Equipo de trabajo</h2>
  <ul id="staff">
    <li><a href="#Manager" class ="id">Manager</a></li>
    <li><a href="#Coordinador" class ="id">Coordinador</a></li>
    <li><a href="#Diseñador" class ="id">Diseñador</a></li>
  </ul>


  <!-- parte1-->
  <div class="container container_staff">
    <div class="row">
      <div class="col-md-6">
        <div class="col-sm-11">
          <h1 class="text-center"id="Manager">Manager
          </h1>
        </div>
        <p1>Hola, soy Cristian Valle Martínez,
          tengo 38 años, estoy estudiando Fisioterapia,
          me gusta el trabajo que hago por que cada arreglo que hacemos es un reto, es algo
          nuevo por hacer y tener las satisfacción que si pude, que logre hacerlo por muy difícil
          que estuviera es especial.
          <br>
          Ver la emoción en los rostros de los festejados y escucharlos decir que les encanta
          todo lo que hice es fascinante, mi sueño es poder tener algo más grande y cubrir más
          eventos y hacer feliz a mucha gente con mi trabajo.
        </p>
      </div>
      <div class="image col-md-6">
        <img src="/static/imagenes/manager.jpeg" class="img-fluid" width="60%" alt="">
      </div>
    </div>
  </div>
  <p></p>
  <!--parte2-->
  <div class="container container_staff">
    <div class="row">
      <div class="col-md-6">
        <div class="col-sm-11">
          <h1 class="text-center" id="Coordinador">
            Coordinador</h1>
        </div>
        <p1>Holis, Soy Ally Valle, actualmente estoy
          cursando el último semestre de la carrera de Ingeniería en Computación,
          desde muy pequeña mi madre me enseño a dibujar y a hacer manualidades como hobby,
          con el tiempo fue formando parte de mi.
          <br>
          Al cabo de un tiempo me impresionaba lo que podía hacer con mis propias manos, supe que era
          magnifico cuando todos podian tener en sus manos mi obra maestra.
          <br>
          Hoy en dia veo la reacción de las personas cuando les entrego mi trabajo y su felicidad
          es notoria, verlos sonreír y sus caras de asombro es genial!, creo que podremos hacer feliz
          a muchas personas llevándoles un poco de nuestra creatividad a sus vidas.
        </p>
      </div>
      <div class="image col-md-6">
        <img src="/static/imagenes/ally.jpg" class="img-fluid" width="60%" alt="">
      </div>
    </div>
  </div>
  <p></p>

  <!--parte3-->
  <div class="container container_staff">
    <div class="row">
      <div class="col-md-6">
        <div class="col-sm-11">
          <h1 class="text-center" id="Diseñador">
            Diseñador</h1>
        </div>
        <p1>Hola, yo soy Ervin Hernandez, Tengo 20
          años Estoy cursando el 2 año de la carrera de Comunicación
          para el Desarrollo, en la UNAN-Managua, desde pequeño siempre me gustaron las manualidades, el dibujo,
          y al pasar de los años lo hago mejor y forma parte de mi vida.
          <br>
          Lo que me motiva a seguir con esta práctica es ver la reacción de las personas al ver mi trabajo,
          los detalles desde el más notable hasta el más sutil, donde busco replicar con exactitud lo que tengo
          en mente y lo que quiero; y de esta manera sea algo que la gente pueda apreciar u obtener, servir de ejemplo
          que no es necesario que te enseñen a hacerlo porque cuando las ganas, el anhelo y la práctica se unen tu
          propia mente te
          da el diseño e ingeniería para hacer lo que desees, no todo sale al primer intento, pero los grandes inventos
          se han conseguido
          luego de un par de errores.
        </p>
      </div>
      <div class="image col-md-6">
        <img src="/static/imagenes/Disenador.jpeg" class="img-fluid" width="50%" alt="">
      </div>

    </div>
  </div>

  <p></p>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>






</html>